<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="koje=='reader'">
    <div class="container-fluid">
      <a class="navbar-brand" href="main-reader">Bibl.io</a>
      </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="koje=='moderator'">
    <div class="container-fluid">
      <a class="navbar-brand" href="main-moderator">Bibl.io</a>
      </div>
  </nav>
  <div class="single">
    <form> <br/>
      
        <div class="col-md-12">
          <input type="password" class="form-control" placeholder="Unesite staru lozinku" name="passwordo" [(ngModel)]="passwordo" required>
        </div>
      <br/>
          <div class="col-md-12">
            <input type="password" class="form-control" placeholder="Unesite novu lozinku" name="password" [(ngModel)]="password" required>
          </div>
        <br/>
          <div class="col-md-12">
            <input type="password" class="form-control" placeholder="Potvrdite novu lozinku" name="password1" [(ngModel)]="password1" required>
        </div>
        <br/>
        <div class="single">
                <button class="btn btn-primary" (click)="change()">Promeni</button>
          </div>
          <div class="single">
            <br/>
          <h3>{{message}}</h3>
          <ul>
            <li *ngFor="let p of poruke">
              <div [class.red]="true">{{p}}</div>
            </li>
          </ul></div>
    </form>
    
</div>
